{% load static %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>AliwSoft</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/css/main.css'%}">
    <link rel="icon" href="{% static 'static/Adsız.png'%}" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>
  <body>
    
    

  
  <div class="container" >
    <div class="row">
      <div id="border" class="col-lg-9 col-12 mx-auto"  
      style="background-color: white; margin-top: 180px;
       border-radius: 2px; border: 1px solid rgb(230, 227, 227)" >
        <div class="row" style="margin-top: 10px;"> 
          <div class="col-md-4 col-12" style="justify-content: center; text-align: center; align-items: center;">
            <a href="{% static '/static/ali.jpg'%}" target="_blank">
              <img src="{% static '/static/ali.jpg'%}" 
              style="width: 180px;height: 180px;margin-top: 20px;border-radius: 90px;border: 2px solid blue;" 
              class="img-fluid scale" alt="resimbulunamadımaalesef"></a></div>
          <div id="close" class="col-md-8 shadow  scale" style="background-color: white;border-top: 2px solid rgb(204, 85, 85);
          justify-content: center; text-align: center;
          margin-top: 20px;
           align-items: center;">
            <h3 style="margin-top: 10px;">ALIWKO</h3>
            <p>Merhaba Ben Aliwko . Yaş 20, Bilgisayar Mühendisliği 1. sınıf okumaktayım<br>
              Yazılım hayatımda ilk hedefim Full-Stack Developer olma yolunda adımlar atıyorum. Kendimce projeler geliştiriyorum. Üzerinde çalıştığım diller ve projeler hakkında alt tarafta yeterli bilgi vardır.
              Benden bu kadar.
            </p>
            <hr style="background-color: rgb(182, 182, 182);">

          </div>
        <div class="col-md-8 col-12 mx-auto shadow" id="add" style="background-color: white;
         height:450px;margin-top: 160px;transition: 1s;">
         <div class="mx-auto" id="reds" style="background: linear-gradient(to right, #108dc7, #ef8e38);
         height: 5px;width: 0px;transition: .5s;"></div>
         <h4 class="text-center" style="color:rgb(59, 57, 57);margin-top: 2px;">Üzerinde Çalıştığım Teknolojiler</h4>
         <div class="row mx-auto" style="margin-top: 20px;">
            <div class="col-6 mx-auto" >
              <div>
                <div class="row" >
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                        <img src="{% static '/static/djdj.png'%}" 
                         class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" ><b>Django</b>
                        
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/py.png'%}"     
                          class="img-fluid rspimg" width="100" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>Python</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px;">
                    <div class="row mains" >
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/jq.jpg'%}"     width="50px"   
                            height="40px" class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>JQuery</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/indir.png'%}"    
                           class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>HTML</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px;width: 150px;">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/bostrap.jpg'%}"    
                         class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" >
                        <b>Bootstrap  </b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px;">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/css.png'%}" class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>CSS</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px;">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/c-logo.png'%}"     width="50px"   
                            height="40px" class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>C#</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px;">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/mssql.png'%}"     width="50px"   
                            height="40px" class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>MsSQL</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto " >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/kisspng-postgresql-logo-computer-software-database-open-source-vector-images-5aaa26e1ef9611.3514090315211005139814.png'%}" class="img-fluid rspimg" alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>Postgre</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-6 mx-auto" >
              <div>
                <div class="row">
                  <div class="col-md-6 col-10  mx-auto" style="
                  padding: 10px 0px;margin-top: 5px;height: 60px;">
                    <div class="row mains">
                      <div class="col-md-4 col-6 top">
                          <img src="{% static '/static/entity-framework-tutorial.png'%}"  
                            class="img-fluid rspimg" 
                             alt="resimbulunamadımaalesef">
                      </div>
                      <div class="col-md-8 col-6 mx-auto top texts" style="right: 0px;" ><b>Entity F.</b>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            
         </div>
          
        </div>  
        
        <div class="container" style="margin-top: 130px;">
          <h4 class="text-center" style="color:rgb(59, 57, 57);margin-top: 2px;margin-bottom: 10px;">
            Projelerim</h4>
          <hr>
          <hr>
          <div class="row mx-auto">
            
            <div class="col-md-4 col-sm-12 mx-auto"  style="margin-top: 40px;margin-bottom: 100px;">
              <div class="maincard mx-auto" style="border: 1px solid rgb(233, 225, 225);padding: 20px 20px;">
                
                <div style="background-color: white;margin-left: 10px;">
                  <img src="{% static '/static/coden.jpg'%}" width="70%" style="margin-left: 15%;" class="img-fluid" alt="resimbulunamadımaalesef">
                  <br> 
                  
                  <h4 class="bolds">Bu Website</h4>
                  <div class="mx-auto effect" style="transition: .3s;background: linear-gradient(to right, #108dc7, #21a12c); width: 0;margin-left: 10%; height: 5px;margin-top: 50px;"></div>
                  <div style="height: 35px;"></div>
                </div>
                
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto" style="margin-top: 40px;">
              <div class="maincard mx-auto" style="border: 1px solid rgb(233, 225, 225);;padding: 20px 20px;">
                
                <div style="background-color: white;margin-left: 10px;">
                  <img src="{% static '/static/soon-873316_1280.png'%}" width="70%" style="margin-left: 15%;" class="img-fluid" alt="resimbulunamadımaalesef">
                  <br> 
                  
                  <h4 class="bolds" style="margin-top: 10px;">Klon Whatsapp</h4>
                  <div class="mx-auto effect" style="transition: .3s;
                  background: linear-gradient(to right, #108dc7, #21a12c);
                   width: 0;margin-left: 10%; height: 5px;margin-top: 40px;">
                   </div>
                   <p><a href="https://www.youtube.com/watch?v=cNU_-u1fTLs" target="_blank" style="margin-top: 10px;">Daha Fazlası</a></p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
  </div>
  </div>
  <div id="aliss">
    <div class="footer" >
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-12" style="margin-top: 20px; margin-bottom: 0px;">
            <img src="{% static '/static/ali.jpg'%}" width="200px" height="200px" style="border-radius: 100px;" alt="">
          </div>
          <div class="col-md-9 col-12 mx-auto" style="margin-top: 10px;">
            <h1>Aliwko#0001</h1><br>
            <h4>"The Developer who wants be a Full-Stack"</h4>
            <a href="/contact" style="width: 150px;" class="btn btn-primary" id="custombtn4">İletişim</a>

          </div>
        </div>
      </div>
    </div>
  </div>










  <div id="ali" style="position: fixed;top: 0;width: 100%;
  border-bottom: 1px solid rgb(218, 210, 210);">
    <nav class="navbar navbar-expand-lg  navbar-light" id="nav" style="transition: .5s;">
      <a class="navbar-brand" href="/">
        <img id="images" src="{% static '/static/20210619_204812.jpg'%}"  alt="resimbulunamadımaalesef" class="img-fluid" style="width: 100px;">
      </a>
      <button class="navbar-toggler" id="btnlogo" type="button"  data-toggle="collapse"
       data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" 
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 style="background-color: rgb(240, 232, 232) "></h1>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"  href="/contact"><b>İletişim</b> </a>
          </li>
        </ul>
    </nav>
  </div>
  <button id="btn" type="button" style="transition: .5s;display: none;
  position:fixed ;background-color: transparent;right: 50px;
  bottom: 50px;border: 0px; ">
    <img src="https://img.icons8.com/ios/50/000000/send-letter--v1.png"/>
  </button>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $(".mains").mouseenter(function () {
          $(this).css("margin-top","3px")
        })
        $(".mains").mouseleave(function () {
          $(this).css("margin-top","10px")
        })
        
        $("#add").mouseenter(function () {
          $("#reds").css("width","100%")
        })
        $("#add").mouseleave(function () {
          $("#reds").css("width","0")
        })
        $(".maincard").mouseenter(function () {
          $(this).addClass("shadow")
          $(this).find(".effect").css("width","80%")
          
        })
        $(".maincard").mouseleave(function () {
          $(this).removeClass("shadow")
          $(".effect").css("width","0px")
        })
        
        $("#btn").click(function () {
          $("html,body").animate({scrollTop:0},400)
        })
        $("#btn").mouseenter(function () {
          $(this).css("bottom","60px").css("transform","scale(1.1)")
        })
        $("#btn").mouseleave(function () {
          $(this).css("bottom","50px").css("transform","scale(1)")
        })
        $(window).scroll(function () {
          if($(this).scrollTop()>80 && $(this).scrollTop()<1200){
            $("#nav").css("background-color","white").css('height',"50px")
            $("#border").addClass("shadow")
            
        
            $("html,body").css("background-color","rgb(247, 242, 242)")
            if($(this).scrollTop()>200){
              $("#btn").fadeIn(500)
              $("#close").removeClass("shadow")
              $("#close").css("border-top","none")
            }
            
            
          }
          else if($(this).scrollTop()>=1000){
            $("#border").removeClass("shadow")
          }else{
            $("#nav").css("background-color","transparent").css('height',"70px")
            $("#border").removeClass("shadow")
            $("#close").addClass("shadow")
            $("#close").css("border-top","2px solid rgb(204, 85, 85)")
            $("#btn").fadeOut(500)
            $("html,body").css("background-color","white")

          }
        })
      })  
    </script>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>